# config is read in this order from the following locations, later ones
# overriding settings from the earlier ones:
#   - /etc/sphinx/config
#   - ~/.config/sphinx/config
#   - ~/.sphinxrc
#   - ./sphinx.cfg

[server]
# the ipv4 address the server is listening on
# address="127.0.0.1"

# ssl key
ssl_key="server.der"

# ssl cert
ssl_cert="cert.pem"

# the port on which the server is listening, use 443 if available, so that
# the oracle can be accessed from behind tight firewalls, default: 8080
port=2355

# tcp connection timeouts, increase in case you have bad networks, with the
# caveat that this might lead to easier resource exhaustion - blocking all
# workers.
#timeout=3

# the root directory where all data is stored, default: /var/lib/sphinx
datadir="data"

# how many worker processes can run in parallel
# max_kids=5

# whether to produce some output
verbose=true

# decay ratelimit after rl_decay seconds
rl_decay=1800

# increase hardness after rl_threshold attempts if not decaying
rl_threshold=1

# when checking freshness of puzzle solution, allow this extra
# gracetime in addition to the hardness max solution time
rl_gracetime=10

# long-term signing key, can be generated using "oracle init"
ltsigkey="ltsig.key"
